sudo: required

language: java

services:
  - docker


before_install:
  - chmod +x gradlew

after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - docker build -f Dockerfile -t $REPO:$TRAVIS_BRANCH .
  - docker push $REPO

